
.header {
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10em;
  padding-left: 10em;
  height: 10vh;
  width: 100vw;
  border-bottom: 0.15em solid var(--zealthy-light-green);
}

.headerlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.link {
  padding: 1em;
  color: var(--zealthy-dark-green);
  text-decoration: none;
}


@media screen and (max-width:480px) {
  .header {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    border-bottom: 0.15em solid var(--zealthy-light-green);
    padding-top: 1em;
  }  
  .headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .link {
    padding-left: 1em;
    padding-right: 1em;
    color: var(--zealthy-dark-green);
    text-decoration: none;
    font-size:small;
  }
}