.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
  height: 100%;
}

.mainContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.mainContainer h2 {
  text-align: center;
  padding: 0.2em;
}
.mainContainer p {
  text-align: center;
  padding: 0.2em;
}

@media screen and (max-width:480px) {
  .page {
    padding: 1em;
  }
  .mainContainer {
    margin-top: 1em;
  }
}